services:
  web:
    build: ./app
    container_name: blog_web
    volumes:
      - ./app:/app
      - static_volume:/app/staticfiles
    command: sh -c "
      python manage.py collectstatic --noinput &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      uvicorn library.asgi:application --host 0.0.0.0 --port 8000
      "
    depends_on:
      - db
    expose:
      - "8000"
    environment:
      DB_HOST: db
      DB_NAME: blogdb
      DB_USER: bloguser
      DB_PASS: blogpass
      DB_PORT: 5432

  db:
    image: postgres:14
    container_name: blog_db
    restart: always
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5055:80"
    depends_on:
      - db
    volumes:
      - ./pgadmin/servers.json:/pgadmin4/servers.json

  nginx:
    image: nginx
    container_name: blog_nginx
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/static
      - media_volume:/media
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:
