{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<p><strong>Автор:</strong>
  {% if post.author %}
    {{ post.author.username }}
  {% else %}
    Анонім
  {% endif %}
</p>
<p><strong>Дата публікації:</strong> {{ post.created_at|date:"d.m.Y H:i" }}</p>

{% if post.category %}
    <p><strong>Категорія:</strong> {{ post.category.name }}</p>
{% else %}
    <p><strong>Категорія:</strong> без категорії</p>
{% endif %}

<hr>

<p>{{ post.content }}</p>

<hr>

<h3>Коментарі:</h3>

<ul>
  {% for comment in comments %}
    <li>
      <strong>
        {% if comment.author %}
          {{ comment.author.username }}
        {% else %}
          Анонім
        {% endif %}
      </strong><br>

      {{ comment.text }}<br>
      <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>
    </li>
  {% empty %}
    <li>Коментарів ще немає.</li>
  {% endfor %}
</ul>

{% endblock %}
